* {
    font-family: 'Raleway', sans-serif;
}

html, body {
    background-color: black;
    height: 100%;
    margin: 0px;
    font-size: 18px;
}

#body-container {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
}

#left-container {
    display: flex;
    background-color: #eed8c2;
    padding: 100px 70px 70px 70px;
    min-height: 100%;
}

#right-container {
    display: flex;
    flex-direction:column;
    background-color: white;
    flex: 1;
    padding: 100px 70px 70px 70px;
    min-height: 100%;
}

#main-img {
    width: 500px;
    height: 500px;
}

#logo {
    width: 169px;
}

#description {
    color: #677780;
    margin-top: 35px;
    font-size: 1em;
    font-weight: 400;
}

.form-row.full-name-div{
    margin-top: 46px;
}

.form-row {
    margin-top: 47px;
    font-size: 1em;
    position: relative;
}

.form-input {
    width: 360px;
    height: 50px;
    border-radius: 6px;
    border-width: 2.6px;
    border-style: solid;
    border-color: #677780;
    opacity: 100%;
    font-size: 1em;
    font-weight: 500;
    padding-left: 20px;
    transition: all 140ms ease-in;
    font-family: inherit;
    color: #677780;
}

.form-input:focus {
    outline: none;
    border-color: #df8e71
}

.form-label {
    position: absolute;
    z-index: 9;
    background-color: white;
    padding: 7px;
    font-size: 1em;
    margin: 0px;
    top: 11px;
    left: 15px;
    width:fit-content;
    color: #677780;
    font-weight: 500;
    cursor: text;
    transition: top 120ms ease-in,
        left 120ms ease-in,
        font-size 120ms ease-in;
}

.form-input:focus ~
.form-label,
.form-input:not(:placeholder-shown).form-input:not(:focus) ~
.form-label {
    top: -15px;
    font-size: 0.8em;
    left: 14px;
    opacity: 100%;
    color: #df8e71;
}
.form-input:not(:placeholder-shown).form-input:not(:focus) ~
.form-label {
    color: #677780;
}

.required {
    margin-top: 7px;
    margin-left: 23px;
    position: absolute;
    font-family: inherit;
    font-weight: 500;
    font-size: 0.8em;
    color: #677780;
    opacity: 65%;
}

.error {
    margin-top: 5px;
    margin-left: 21px;
    position: absolute;
    font-family: inherit;
    font-weight: 500;
    font-size: 0.7em;
    opacity: 75%;
    color: red;
    width: 380px;
    line-height: 16px;
    
}

#terms-notes {
    margin-top: 43px;
    margin-left: 43px;
}

.password-div {
    margin-top: 75px;
}
.confirm-password-div {
    margin-top: 23px;
}

.terms {
    margin-top: 65px;
    width: 360px;
    display: flex;
    position: relative;
}

.terms > input {
    appearance: none;
    align-self: center;
    width: 25px;
    height: 25px;
    border: 2.5px solid black;
    border-radius: 4px;
    background-color: white;
    opacity: 50%;
}

.terms > input:focus {
    border: 2.5px solid #df8e71;
    outline: 0 none;
}

.terms > input::before {
    content: "✔";
    font-size: 1.1em;
    left: 11px;
    top: 10px;
    visibility: hidden;
    position: absolute;
  }

  .terms > input:checked::before {
    visibility: visible;
  }

.terms > label {
    margin-left: 10px;
    color: #677780;
    font-size: 0.9em;
}

.terms > label > a{
    color: #df8e71;
}

.terms > label > a:focus {
    border: 2.5px solid #df8e71;
    outline: 0 none;
}

.submit {
    margin-top: 74px;
}

.submit > input {
    width: 390px;
    height: 55px;
    border-radius: 6px;
    background-color: #677780;
    color: white;
    font-size: 0.95em;
    font-weight: 500;
    opacity: 90%;
    border-style:none;
}

.submit > input:hover {
    opacity: 95%;
    cursor: auto;
}

.submit > input:active {
    opacity: 100%;
}

.submit > input:focus {
    outline: 0 none;
    opacity: 100%;
}

@media (max-width: 1170px) {
    #body-container {
        flex-direction: column;
    }
    #left-container {
        padding-top: 70px;
        padding-bottom: 70px;
        min-height: fit-content;
        justify-content: center;
    }
    #right-container {
        padding-top: 70px;
        align-items: center;
    }
    #description {
        text-align: center;
        line-height: 25px;
    }
}

@media (max-width: 640px) {
    #main-img {
        width: 360px;
        height: 360px;
    }
    #description {
        text-align: center;
        line-height: 25px;
    }
}